<div>
  <mat-icon title="продавцы" routerLink="/sales">account_box</mat-icon>
  <mat-icon title="покупатели" routerLink="/buyer">accessibility</mat-icon>
  <mat-icon title="район" routerLink="/district">	location_city</mat-icon>
  <mat-icon title="отчёт" routerLink="/report">insert_drive_file</mat-icon>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="buyerName">
    <th mat-header-cell *matHeaderCellDef>ФИО</th>
    <td mat-cell *matCellDef="let element">{{element.buyerName}}</td>
  </ng-container>

  <ng-container matColumnDef="buyerPhone">
    <th mat-header-cell *matHeaderCellDef>Номер телефона</th>
    <td mat-cell *matCellDef="let element">{{element.buyerPhone}}</td>
  </ng-container>

  <ng-container matColumnDef="buyerDistricts">
    <th mat-header-cell *matHeaderCellDef>Район</th>
    <td mat-cell *matCellDef="let element">{{element.buyerDistricts[0].district.districtName}}</td>
  </ng-container>

  <ng-container matColumnDef="houseAreaGTE">
    <th mat-header-cell *matHeaderCellDef>Площадь от, м. кв</th>
    <td mat-cell *matCellDef="let element">{{element.houseAreaGTE}}</td>
  </ng-container>

  <ng-container matColumnDef="houseAreaLTE">
    <th mat-header-cell *matHeaderCellDef>Площадь до, м. кв</th>
    <td mat-cell *matCellDef="let element">{{element.houseAreaLTE}}</td>
  </ng-container>

  <ng-container matColumnDef="maxPrice">
    <th mat-header-cell *matHeaderCellDef>Максимально допустимая цена, руб.</th>
    <td mat-cell *matCellDef="let element">{{element.maxPrice}}</td>
  </ng-container>

  <ng-container matColumnDef="buyerFilters">
    <th mat-header-cell *matHeaderCellDef>Спец. условие</th>
    <td mat-cell *matCellDef="let element">{{element.buyerFilters ? "первый и последний этаж не предлагать" : "любой этаж"}}</td>
  </ng-container>

  <ng-container matColumnDef="change">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button mat-raised-button color="primary" (click)="change(element.id)">
        <mat-icon title="изменить данные покупателя">create</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary" (click)="delete(element.id)">
        <mat-icon title="удалить">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="dataColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: dataColumns;"></tr>
</table>

<button mat-icon-button color="primary" (click)="create()">
  <mat-icon title="добавить покупателя">add</mat-icon>
</button>
