<div *ngIf="pageForm">
  <form [formGroup]="pageForm" novalidate>

    <div>
      <label>Название района</label>
      <br>
      <input type="text" formControlName="districtName"/>
    </div>
    <br>
    <div>
      <label>Описание</label>
      <br>
      <input type="text" formControlName="description"/>
    </div>
    <button (click)="back()">
      <mat-icon title="назад">backspace</mat-icon>
    </button>
    <button (click)="save()">
      <mat-icon title="сохранить">save</mat-icon>
    </button>
  </form>
</div>
